{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <title>Contraseña Cambiada</title>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <div class="alert alert-success mt-5" role="alert">¡Tu contraseña ha sido cambiada con éxito!</div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <a href="{% url 'index' %}" class="btn btn-primary">Volver al inicio</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block Scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
