{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <title>Cambiar contraseña</title>
  <h1 class="text-center">Cambiar contraseña</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        <form class="pt-5" id="formSesion" name="formSesion" method="post" enctype="multipart/form-data">
          {% load crispy_forms_tags %}
          {% csrf_token %}
          {{ form|crispy }}
          <div class="container">
            <button type="submit" class="btn btn-success float-end">Cambiar contraseña</button>
          </div>
          <div class="container"></div>
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
{% endblock %}
{% block Scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
