{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <title>Administracion de productos</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <h1>Administracion de productos</h1>
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row flex-lg-nowrap">
          <div class="col mb-3">
            <div class="e-panel card">
              <div class="card-body">
                <div class="e-table">
                  <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="align-top">
                            <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
                              <input type="checkbox" class="custom-control-input" id="all-items" />
                              <label class="custom-control-label" for="all-items"></label>
                            </div>
                          </th>
                          <th>Imagen</th>
                          <th>Id</th>
                          <th class="max-width">Nombre del producto</th>
                          <th>Precio</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for p in productos %}
                          <tr>
                            <td class="align-middle">
                              <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
                                <input type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label" for="item-1"></label>
                              </div>
                            </td>
                            <td class="align-middle text-center">
                              <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;">
                                <img src="{{ p.imagen.url }}" height="50" />
                              </div>
                            </td>
                            <td id="idProducto" class="text-nowrap align-middle text-center">{{ p.id }}</td>
                            <td class="text-nowrap align-middle text-center">{{ p.nombre }}</td>
                            <td class="text-nowrap align-middle text-center">{{ p.precio }}</td>
                            <td class="text-center align-middle">
                              <div class="btn-group align-top">
                                <a class="btn btn-primary" href="{% url 'editar-producto' p.id %}">Editar</a>
                                <a class="btn btn-sm btn-outline-secondary badge" href="{% url 'eliminar-producto' p.id %}"><i class="fa fa-trash"></i></a>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center">
                    <ul class="pagination mt-3 mb-0">
                      <li class="disabled page-item">
                        <a href="#" class="page-link">‹</a>
                      </li>
                      <li class="active page-item">
                        <a href="#" class="page-link">1</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">2</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">3</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">4</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">5</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">›</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">»</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Scripts -->
<script src="js/jquery.validate.js"></script>
<script src="js/messages_es.js"></script>
<script src="js/validacionEditar.js"></script>
<!-- Scripts -->
{% block scripts %}
  <script src="{% static 'greenhill/js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
