{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}

{% block contenido %}
  <div class="row p-2">
    <div class="col"></div>
    <div class="col bg-dark">
      <form action="admin-agregar-producto.html" id="formProducto">
        <div class="mb-3 mt-3">
          <label class="form-label" for="nombreproducto">Nombre del producto</label>
          <input type="text" class="form-control" id="nombreproducto" placeholder="Producto" name="nombreproducto" />
        </div>
        <div class="mb-3 mt-3">
          <label class="form-label" for="foto">Foto</label>
          <input type="file" class="form-control" id="foto" placeholder="Producto" name="foto" />
        </div>
        <div class="mb-3 mt-3">
          <label class="form-label">Precio</label>
          <input type="text" class="form-control" id="precio" placeholder="$15.990" name="precio" />
        </div>
        <div class="mb-3 mt-3">
          <label class="form-label">Consola</label>
          <select class="form-select" id="consola" name="consola">
            <option value="0">--Seleccione--</option>
            <option value="xbox">Xbox</option>
            <option value="playstation">Playstation</option>
            <option value="nintendo switch">Nintendo Switch</option>
          </select>
        </div>
        <div class="float-end">
          <button type="submit" class="btn btn-primary" id="btnAgregar">Agregar</button>
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- scripts -->
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'greenhill/js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'greenhill/js/jquery.validate.js' %}"></script>
  <script src="{% static 'greenhill/js/messages_es.js' %}"></script>
  <script src="{% static 'greenhill/js/validacionProducto.js' %}"></script>
  <!-- scripts -->
{% endblock %}