{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}

{% block contenido %}
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 my-4 mx-auto">
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form|crispy }}
          {{ field.errors }}
          <div class="text-end">
            <input type="submit" value="Guardar" class="btn btn-success" />
          </div>
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
