{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <title>Administracion de productos</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <h1>Administracion de productos</h1>
  <div class="container">
    <div class="row flex-lg-nowrap">
      <div class="col">
        <div class="row flex-lg-nowrap">
          <div class="col mb-3">
            <div class="e-panel card">
              <div class="card-body">
                <div class="e-table">
                  <div class="table-responsive table-lg mt-3">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th class="align-top">
                            <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0">
                              <input type="checkbox" class="custom-control-input" id="all-items" />
                              <label class="custom-control-label" for="all-items"></label>
                            </div>
                          </th>
                          <th>Imagen</th>
                          <th>Id</th>
                          <th class="max-width">Nombre del producto</th>
                          <th>Precio</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for p in productos %}
                          <tr>
                            <td class="align-middle">
                              <div class="custom-control custom-control-inline custom-checkbox custom-control-nameless m-0 align-top">
                                <input type="checkbox" class="custom-control-input" />
                                <label class="custom-control-label" for="item-1"></label>
                              </div>
                            </td>
                            <td class="align-middle text-center">
                              <div class="bg-light d-inline-flex justify-content-center align-items-center align-top" style="width: 35px; height: 35px; border-radius: 3px;">
                                <img src="{{ p.imagen.url }}" height="50" />
                              </div>
                            </td>
                            <td id="idProducto" class="text-nowrap align-middle text-center">{{ p.id }}</td>
                            <td class="text-nowrap align-middle text-center">{{ p.nombre }}</td>
                            <td class="text-nowrap align-middle text-center">{{ p.precio }}</td>
                            <td class="text-center align-middle">
                              <div class="btn-group align-top">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" onclick="editProduct({{ p.id }})">Editar</button>
                                <button class="btn btn-sm btn-outline-secondary badge" type="button" onclick="eliminarProducto({{ p.id }})"><i class="fa fa-trash"></i></button>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center">
                    <ul class="pagination mt-3 mb-0">
                      <li class="disabled page-item">
                        <a href="#" class="page-link">‹</a>
                      </li>
                      <li class="active page-item">
                        <a href="#" class="page-link">1</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">2</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">3</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">4</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">5</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">›</a>
                      </li>
                      <li class="page-item">
                        <a href="#" class="page-link">»</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data" id="formEditar" name="formEditar">
            <div class="mb-3 mt-3">
              <label class="form-label" for="nombre">Nombre del producto</label>
              <input type="text" class="form-control" id="nombre" name="nombre" />
            </div>

            <div class="mb-3 mt-3">
              <label class="form-label" for="precio">Precio</label>
              <input type="text" class="form-control" id="precio" placeholder="$15.990" name="precio" />
            </div>
            <div class="mb-3 mt-3">
              <label class="form-label" for="descripcion">Descripcion</label>
              <input type="text" class="form-control" id="descripcion" name="descripcion" />
            </div>
            <div class="mb-3 mt-3">
              <label class="form-label" for="imagen">Imagen</label>
              <input type="file" class="form-control" id="imagen" name="imagen" />
            </div>
            <div class="mb-3 mt-3">
              <label class="form-label" for="stock">Stock</label>
              <input type="text" class="form-control" id="stock" name="stock" />
            </div>
            {% comment %} <div class="mb-3 mt-3">
              <label class="form-label" for="consola">Consola</label>
              <select class="form-select" id="consola" name="consola">
                <option value="0">--Consola--</option>
                <option>Xbox</option>
                <option>Playstation</option>
                <option>Nintendo Switch</option>
              </select>
            </div> {% endcomment %}
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Scripts -->
<script src="js/jquery.validate.js"></script>
<script src="js/messages_es.js"></script>
<script src="js/validacionEditar.js"></script>
<!-- Scripts -->
{% block scripts %}
  <script src="{% static 'greenhill/js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
  <script>
    function editProduct(id) {
      // Fetch the product details and populate the form
      $.ajax({
        url: '/editar-producto/' + id + '/',
        type: 'GET',
        success: function (data) {
          $('#nombre').val(data.nombre)
          $('#precio').val(data.precio)
          $('#descripcion').val(data.descripcion)
          $('#imagen').val(data.imagen)
          $('#stock').val(data.stock)
          // Handle other fields as needed
    
          // Show the modal for editing
          $('#myModal').modal('show')
        },
        error: function () {
          alert('Error al cargar los detalles del producto')
        }
      })
    }
    
    $('#formEditar').submit(function (event) {
      event.preventDefault()
      var id = $('#idProducto').val()
    
      $.ajax({
        url: '/editar-producto/' + id + '/',
        type: 'POST',
        data: new FormData(this),
        processData: false,
        contentType: false,
        success: function (data) {
          if (data.status === 'success') {
            // Update the product details in the table
            location.reload() // Reload the page to reflect changes
          } else {
            alert('Error al guardar el producto')
          }
        },
        error: function () {
          alert('Error al guardar el producto')
        }
      })
    })
    
    function eliminarProducto(id) {
      $.ajax({
        url: '/eliminar-producto/' + id + '/',
        type: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}'
        },
        success: function (data) {
          if (data.status == 'success') {
            $('#product-' + id).remove()
            location.reload()
          } else {
            alert('Error al eliminar el producto')
          }
        }
      })
    }
  </script>
{% endblock %}
