{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}

{% block contenido %}
  <title>Agregar productos</title>
  <h1 class="text-center">Agregar productos</h1>
  <div class="container py-5">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 my-4 mx-auto">
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data" id="formProducto">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="text-end">
            <input type="submit" value="Agregar producto" class="btn btn-success" />
          </div>
        </form>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- scripts -->
  <script src="{% static 'greenhill/js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'greenhill/js/jquery.validate.js' %}"></script>
  <script src="{% static 'greenhill/js/messages_es.js' %}"></script>
  <script src="{% static 'greenhill/js/validacionProducto.js' %}"></script>
{% endblock %}
