{% extends 'greenhill/base.html' %}
{% load static %}

{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
{% endblock %}

{% block contenido %}
  <title>Catálogo</title>

  <h1 class="text-center p-3">Todo el catálogo</h1>

  <div class="container">
    <div class="row">
      <!-- BEGIN SEARCH RESULT -->
      <div class="col">
        <div class="grid search">
          <div class="grid-body">
            <div class="row">
              <!-- BEGIN FILTERS -->
              <div class="col-md-3">
                <h2 class="grid-title"><i class="fa fa-filter"></i> Filtros</h2>
                <hr />

                <!-- BEGIN FILTER BY CATEGORY -->
                <h4>Por consola:</h4>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck" />Xbox</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck" />Playstation</label>
                </div>
                <div class="checkbox">
                  <label><input type="checkbox" class="icheck" />Nintendo Switch</label>
                </div>
                <div class="padding"></div>
                <!-- END FILTER BY CATEGORY -->

                <!-- BEGIN FILTER BY PRICE -->
                <h4>Por precio:</h4>
                Entre<div id="price1">$9300</div>y<div id="price2">$33800</div>
                <div class="slider-primary">
                  <div class="slider slider-horizontal" style="width: 152px;">
                    <div class="slider-track">
                      <div class="slider-selection" style="left: 30%; width: 50%;"></div>
                      <div class="slider-handle round" style="left: 30%;"></div>
                      <div class="slider-handle round" style="left: 80%;"></div>
                    </div>
                    <div class="tooltip top hide" style="top: -30px; left: 50.1px;">
                      <div class="tooltip-arrow"></div>
                      <div class="tooltip-inner">300 : 800</div>
                    </div>
                    <input type="text" class="slider" value="" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="[300,800]" data-slider-tooltip="hide" />
                  </div>
                </div>
                <!-- END FILTER BY PRICE -->
              </div>
              <!-- END FILTERS -->

              <!-- BEGIN PRODUCTS GRID -->
              <div class="col-md-9">
                <div class="row">
                  {% for p in productos %}
                    <div class="col-md-4 mb-4">
                      <div class="card h-100">
                        <a href="{% url 'producto' p.id %}"><img class="card-img-top" src="{{ p.imagen.url }}" alt="{{ p.nombre }}" height="200" /></a>
                        <div class="card-body text-center">
                          <h5 class="card-title">{{ p.nombre }}</h5>
                          <p class="card-text">${{ p.precio }}</p>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <!-- END PRODUCTS GRID -->
            </div>
          </div>
        </div>
      </div>
      <!-- END SEARCH RESULT -->
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
