{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <title>Green Hill Zone</title>

  <h1 class="text-center">Bienvenido a Green hill Zone tu portal de Videojuegos</h1>

  <!-- Carrusel -->
  <div class="container-fluid bg-primary">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'greenhill/img/placeholder.png' %}" class="w-40 d-block mx-auto img-fluid" alt="First slide" />
        </div>
        <div class="carousel-item">
          <img src="{% static 'greenhill/img/placeholder.png' %}" class="w-40 d-block mx-auto img-fluid" alt="Second slide" />
        </div>
        <div class="carousel-item">
          <img src="{% static 'greenhill/img/placeholder.png' %}" class="w-40 d-block mx-auto img-fluid" alt="Third slide" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- Carrusel -->
  <!-- Tabla de productos -->
  <div class="row p-3">
    <div class="col">
      <a class="text-decoration-none" href="producto.html">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                <img class="mx-auto d-block" src="{% static 'greenhill/img/placeholder.png' %}" alt="" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Producto</td>
            </tr>
            <tr>
              <td class="text-center">Precio</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col">
      <a class="text-decoration-none" href="producto.html">
        <table class="table table-borderless rounded">
          <thead>
            <tr>
              <th>
                <img class="mx-auto d-flex" src="{% static 'greenhill/img/placeholder.png' %}" alt="" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Producto</td>
            </tr>
            <tr>
              <td class="text-center">Precio</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col">
      <a class="text-decoration-none" href="producto.html">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                <img class="mx-auto d-block" src="{% static 'greenhill/img/placeholder.png' %}" alt="" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Producto</td>
            </tr>
            <tr>
              <td class="text-center">Precio</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col">
      <a class="text-decoration-none" href="producto.html">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                <img class="mx-auto d-block" src="{% static 'greenhill/img/placeholder.png' %}" alt="" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Producto</td>
            </tr>
            <tr>
              <td class="text-center">Precio</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
  <div class="row p-3">
    <div class="col">
      <a class="text-decoration-none" href="producto.html">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                <img class="mx-auto d-block" src="{% static 'greenhill/img/placeholder.png' %}" alt="" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Producto</td>
            </tr>
            <tr>
              <td class="text-center">Precio</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col">
      <a class="text-decoration-none" href="producto.html">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                <img class="mx-auto d-block" src="{% static 'greenhill/img/placeholder.png' %}" alt="" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Producto</td>
            </tr>
            <tr>
              <td class="text-center">Precio</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col">
      <a class="text-decoration-none" href="producto.html">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                <img class="mx-auto d-block" src="{% static 'greenhill/img/placeholder.png' %}" alt="" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Producto</td>
            </tr>
            <tr>
              <td class="text-center">Precio</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
    <div class="col">
      <a class="text-decoration-none" href="producto.html">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th>
                <img class="mx-auto d-block" src="{% static 'greenhill/img/placeholder.png' %}" alt="" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Producto</td>
            </tr>
            <tr>
              <td class="text-center">Precio</td>
            </tr>
          </tbody>
        </table>
      </a>
    </div>
  </div>
  <!-- Tabla de productos -->
{% endblock %}

{% block scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
