{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <!-- Perfil -->
  <div class="container text-center p-5 bg-black">
    <p>Nombre: Gato Malaonda</p>
    <p>Correo: gatomalaonda1990@gmail.com</p>
    <p>Region: Bio Bio</p>
    <p>Ciudad: Concepcion</p>
    <p>Direccion: Prat 2131</p>
    <p>Telefono: +56999999999</p>
    <!-- Button to Open the Modal -->
    <div>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#editarDatos">Editar datos</button>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#cambioContraseña">Cambiar contraseña</button>
    </div>
  </div>
  <!-- Perfil -->

  <!-- Modal editar perfil -->
  <div class="modal" id="editarDatos">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Editar datos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form action="perfil.html" id="formPerfil" method="get">
            <div class="mb-3 mt-3">
              <label for="email" class="form-label">Correo</label>
              <input type="email" class="form-control" id="email" name="email" />
            </div>
            <div class="mb-3 mt-3">
              <label for="region" class="form-label">Region</label>
              <select class="form-select" id="region" name="region">
                <option value="0">--Region--</option>
              </select>
            </div>
            <div class="mb-3 mt-3">
              <label for="comuna" class="form-label">Comuna</label>
              <select class="form-select" id="comuna" name="comuna">
                <option value="0">--Comuna--</option>
              </select>
            </div>
            <div class="mb-3 mt-3">
              <label for="direccion" class="form-label">Direccion</label>
              <input type="text" class="form-control" id="direccion" name="direccion" />
            </div>
            <div class="mb-3 mt-3">
              <label for="telefono" class="form-label">Telefono</label>
              <input type="text" class="form-control" id="telefono" name="telefono" />
            </div>
            <div class="modal-footer">
              <button id="btnGuardar" type="submit" class="btn btn-success">Guardar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
      </div>
    </div>
  </div>
  <!-- Modal editar perfil -->

  <!-- Modal cambio contraseña -->
  <div class="modal fade" id="cambioContraseña" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalTitleId">Cambiar contraseña</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/action_page.php" id="formCambioPass">
            <div class="mb-3 mt-3">
              <label for="passA" class="form-label">Contraseña actual</label>
              <input type="password" class="form-control" id="passA" name="passA" />
            </div>
            <div class="mb-3 mt-3">
              <label for="pass1" class="form-label">Nueva contraseña</label>
              <input type="password" class="form-control" id="pass1" name="pass1" />
            </div>
            <div class="mb-3 mt-3">
              <label for="pass2" class="form-label">Confirmar contraseña</label>
              <input type="password" class="form-control" id="pass2" name="pass2" />
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-success">Cambiar contraseña</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
