{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <!-- Perfil -->
  <div class="container text-center p-5 bg-black">
    <p>Nombre: {{ persona }}</p>
    <p>Correo: {{ persona.correo }}</p>
    <p>Region: {{ persona.region }}</p>
    <p>Ciudad: {{ persona.comuna }}</p>
    <p>Direccion: {{ persona.direccion }}</p>
    <p>Telefono: +569{{ persona.telefono }}</p>
    <!-- Button to Open the Modal -->
    <div>
      <a href="{% url "editar-perfil" persona.id %}">Editar perfil</a>
      <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#cambioContraseña">Cambiar contraseña</button>
    </div>
  </div>
  <!-- Perfil -->
{% endblock %}
{% block scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
