{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <title>Producto</title>
  <!-- producto -->

  <div class="container">
    <div class="row">
      <div class="col">
        <img src="{{ producto.imagen.url }}" class="img-fluid" alt="..." />
      </div>
      <div class="col">
        <h1>{{ producto.nombre }}</h1>
        <p>{{ producto.descripcion }}</p>
        <p>Precio: ${{ producto.precio }}</p>
        <p>Stock: {{ producto.stock }}</p>
        <div class="container">
          {% if producto.stock != 0 %}
            <a class="btn bg-white text-black" href="{% url 'pago' %}">Comprar</a>
            <a class="btn bg-white text-black float-end" href="{% url 'agregar-carrito' producto.id %}">Agregar al Carrito</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- producto -->
{% endblock %}
{% block scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
