{% extends 'greenhill/base.html' %}
{% load static %}
{% block imports %}
  <link rel="stylesheet" href="{% static 'greenhill/css/bootstrap.min.css' %}" />
{% endblock %}
{% block contenido %}
  <title>Producto</title>
  <!-- producto -->

  <div class="container">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>
            <img class="mx-auto d-block" src="{{ producto.imagen.url }}" alt="" height="100" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">{{ producto.precio }}</td>
        </tr>
        <tr>
          <td class="text-center">Precio</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- producto -->
  <div class="container">
    {% if producto.stock != 0 %}
      <a class="btn bg-white text-black" href="{% url 'pago' %}">Comprar</a>
      <a class="btn bg-white text-black float-end" href="#">Agregar al Carrito</a>
    {% endif %}
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'greenhill/js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
